/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    width: 100px;
}

h1 {
    height: 32px;
    margin-top: 0;
}

.section {
    width: 720px;
    height: 343px;
    margin: 0 auto;
}

#hero {
    background-image: url(images/torshov.jpg);
    background-size: cover;
}